.container{
     width:100%;
     height:100%;
     background:linear-gradient(#c9f2c7,#aceca1,#96be8c,#629460,#31572c,#4f772d,#90a955,#ecf39e)
}
h1{
    text-align: center;
}
a{
    text-decoration: none;
}
h3{
    font-weight: normal;
    font-family: arial;
}
#one{
    font-weight: normal; 
}
h1{
    font-family: cursive;
}
#two{
    font-weight: normal; 
}
body{
    line-height: 15px;
}
textarea{
    border-style: solid;
    border-color: black;
    border-width: 1.5px;
    border-radius: 5px;
    background-color:#c9f2c7
}
button{
    border-style: solid;
    border-color: black;
    border-width: 1.5px;
    border-radius: 5px;
    background-color:#c9f2c7
   
}
input{
    border-style: solid;
    border-color: black;
    border-width: 1.5px;
    border-radius: 5px;
    background-color:#c9f2c7
   
}
#at{
    margin-left: 90px;
}
#it{
    margin-left: 20px;
}
table{
    width: 75%;
    height: 350px;
}
ok{
    margin-right: 100px;
}

